*{
    margin:0;
    padding:0;
    border: none;
}
#header{
    border-bottom: solid 1px #cccccc;
}
#header ul{
    width: 500px;
    list-style: none;
    margin: 10px auto 40px;
}
#header ul li{
    display: inline-block;
    border-right: solid 1px #cccccc;
    padding: 0px 5px;
    width: 40px;
    font-size: 18px;
}
#header ul li a{
	text-decoration:none;
}
#header ul li a:link{
	color:#006699;
}
#header ul li a:visited{
	color:#006699;
}
#header ul li:last-child{
    border-right: none;
}
#newsinfo{
    width: 1000px;
    margin: 0 auto;
}
#infotype{
    display: inline-block;
    margin-left: 50px;
    font-size: 15px;
}

div#infotype a{
	text-decoration:none;
}
div#infotype a:link{
	color:black;
}
div#infotype a:visited{
	color:black;
}
/*下面是内容区域的样式*/
#con {
    width: 1000px;
    margin: 0 auto;
    border-top: solid 5px #cccccc;
}
div#con #title{
    margin-top: 25px;
    font-size: 30px;
}
div#con #publishtime{
    margin-top: 15px;
    color: #a6a6a6;
    font-size: 15px;
    display: inline-block;
}
div#con #author{
    color: #a6a6a6;
    font-size: 15px;
    display: inline-block;
    margin-left: 20px;
}
div#con #content{
    padding-top: 20px;
    text-align: left;
    font-size: 18px;
    line-height: 26px;;
}
#footer{
    width: 1000px;
    margin: 60px auto 20px;
}
#footer ul{
    list-style: none;
    margin: 0 auto;
    width: 290px;
}
#footer li{
    display: inline-block;
    width: 80px;
    padding: 0 5px;
    font-size: 15px;
    border-right: solid 1px #cccccc;
}
#footer li:last-child{
    border: none;
}
#copyright{
    width: 50%;
    margin: 5px auto;
    font-family: arial;
    font-size: 12px;
    text-align: center;
}