<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>control.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>control.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NormalServlet</servlet-name>
    <servlet-class>control.NormalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>publishprocess</servlet-name>
    <servlet-class>control.publishprocess</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>registerProcess</servlet-name>
    <servlet-class>control.registerProcess</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyProcess</servlet-name>
    <servlet-class>control.ModifyProcess</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/adminservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NormalServlet</servlet-name>
    <url-pattern>/normalservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>publishprocess</servlet-name>
    <url-pattern>/publishprocess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerProcess</servlet-name>
    <url-pattern>/registerprocess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyProcess</servlet-name>
    <url-pattern>/admin/modifyprocess</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
